* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

.line {
    background-color: rgb(216, 216, 216);
    height: 0.1px;
    // border: 0.1px solid rgb(125, 125, 125);
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1499678329028-101435549a4e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;

    .desktop {
        position: relative;
        height: 93%;
        padding: 5px 20px 5px 10px;

        .desktopIcons {
            height: 100%;
            width: 14rem;
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex-wrap: wrap;

            .icon {
                width: 80px;
                padding: 2px;
                border-radius: 2px;
                transition: 0.3s all ease;

                img {
                    margin-left: 15px;
                    width: 50px;
                }

                p {
                    // background-color: black;
                    width: 80px;
                    text-align: center;
                    color: white;
                    text-shadow: 1px 1px 3px black;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // -webkit-text-stroke: 0.2px black;
                }
            }

            .icon:hover {
                background-color: rgba(255, 255, 255, 0.115);
            }
        }



        .rightClickMenu {
            width: 235px;
            position: absolute;
            // top: 20%;
            // left: 50%;
            background-color: rgba(255, 255, 255, 0.881);
            backdrop-filter: blur(10px);
            padding: 0px 2px;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            // gap: 4px;
            display: none;
            visibility: hidden;

            .options {
                padding: 5px 4px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                cursor: default;

                .option {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3px 8px;
                    border-radius: 5px;
                    transition: 0.1s all ease 0.02s;
                    position: relative;

                    .left {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        img {
                            width: 18px;
                        }

                        p {
                            font-size: 13px;
                            color: black;
                        }
                    }

                    .right {
                        i {
                            color: rgba(81, 81, 81, 0.595);
                        }

                        p {
                            color: rgb(81, 81, 81);
                            font-size: 12px;
                        }
                    }
                }

                .option:hover {
                    background-color: rgba(177, 177, 177, 0.226);
                }



                // global
                .menuu{
                        position: absolute;
                        top: 0;
                        right: -105%;

                        // width: 235px;
                        background-color: rgba(255, 255, 255, 0.881);
                        backdrop-filter: blur(10px);
                        padding: 0px 2px;
                        border-radius: 10px;

                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.545);
                        // display: none;

                        .items {
                            padding: 5px 4px;
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            cursor: default;

                            .item {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 3px 8px;
                                border-radius: 5px;
                                transition: 0.1s all ease 0.02s;
                                position: relative;
                            }

                            .item:hover {
                                background-color: rgba(177, 177, 177, 0.226);
                            }
                        }
                }

                .option.view {
                    .viewMenu {
                        right: -106%;
                        width: 235px;
                        display: none;
                    }
                }
                .option.sortBy {
                    .sortByMenu {
                        right: -50%;
                        width: 110px;
                        display: none;
                    }
                }
                .option.new {
                    .newMenu {
                        right: -112%;
                        width: 249px;
                        display: none;
                    }
                }
            }
        }
    }

    .taskbar {
        height: 7%;
        padding: 0px 14px 0px 14px;

        background-color: rgb(29, 29, 29);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 143px;
            padding: 4px 10px 4px 10px;
            border-radius: 5px;
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
            transition: all 0.3s ease;

            .weatherIcon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: linear-gradient(to bottom right, rgb(255, 210, 49), rgb(255, 68, 0));
            }

            .weather {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                p:nth-child(1) {
                    color: white;
                    font-size: 13px;
                }

                p:nth-child(2) {
                    color: rgb(188, 188, 188);
                    font-size: 13px;
                }
            }
        }

        .left:hover {
            background-color: rgba(199, 199, 199, 0.112);
        }

        .mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .icon {
                position: relative;
                padding: 5px 5px 2px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                img {
                    width: 30px;
                }

                span {
                    max-width: 200px;
                    white-space: nowrap;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: white;
                    font-size: 13px;

                    background: rgba(33, 33, 33, 0.552);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);

                    position: absolute;
                    top: -100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 5px 10px 8px 10px;
                    border-radius: 5px;

                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s ease 0.7s;
                    //here i put a delay of 0.7s which means when we hover the animation of span appearing will begin after 0.7s on hover.
                }
            }

            .icon:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .icon:hover span {
                visibility: visible;
                opacity: 1;
            }

            .searchBar {
                input {
                    background-image: url("./images/icons8-search-96.png");
                    background-size: 18px;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding: 6px 35px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    color: black;
                }

                input::placeholder {
                    color: rgb(100, 100, 100);
                    font-size: 13px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0px;

            .hoverTxt {
                max-width: 500px;
                white-space: nowrap;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: white;
                font-size: 13px;

                background: rgba(33, 33, 33, 0.552);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                position: absolute;
                top: -100%;
                left: 50%;
                transform: translateX(-60%);

                padding: 5px 10px 8px 10px;
                border-radius: 5px;

                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease 0.7s;
            }



            .slideUpMenu {
                padding: 10px 7px 10px 7px;
                border-radius: 3px;
                transition: 0.2s all ease;
                position: relative;

                i {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }

            }

            .slideUpMenu:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .slideUpMenu:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .icon {
                position: relative;
                padding: 11px 7px 11px 7px;
                border-radius: 3px;
                transition: 0.2s all ease;

                img {
                    width: 18px;
                }
            }

            .icon:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .icon:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .language {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 4px 10px 4px 10px;
                border-radius: 3px;
                transition: 0.2s all ease;

                span {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 12px;
                    color: white;
                }

                .hoverTxt {
                    top: -240%;
                    transform: translateX(-50%);

                    .short2 {
                        margin-bottom: 20px;
                    }
                }
            }

            .language:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .language:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .icons {
                // position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 0px 5px 0px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                .icon {
                    padding: 8px 2px 8px 2px;
                    position: relative;

                    .hoverTxt {
                        top: -155%;
                        transform: translateX(-50%);
                    }
                }

                .icon:nth-child(2),
                :nth-child(3) {
                    .hoverTxt {
                        top: -110%;
                        transform: translateX(-50%);
                    }
                }

                .icon:hover {
                    background-color: rgba(199, 199, 199, 0);
                }

                .icon:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .icons:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }



            .corner {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 0px 5px 0px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                .dateTime {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;

                    span {
                        color: white;
                        font-size: 13px;
                    }

                    .hoverTxt {
                        top: -155%;
                        transform: translateX(-60%);
                    }
                }

                .icon {
                    padding: 8px 2px 8px 2px;

                    .hoverTxt {
                        top: -110%;
                        transform: translateX(-90%);
                    }
                }

                .icon:hover {
                    background-color: rgba(199, 199, 199, 0);
                }

                .dateTime:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }

                .icon:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .corner:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

        }
    }


    .windows {
        // display: none;
        padding: 40px 34px 70px 34px;
        height: 91%;
        width: 40%;
        background-color: rgba(33, 33, 33, 0.822);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        border-radius: 10px;
        position: absolute;
        // top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 50px;

        visibility: hidden;
        opacity: 0;
        top: 53%;

        transition: 0.2s all linear;

        .search {
            background-image: url("./images/icons8-search-96.png");
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 10px center;
            padding: 6px 35px;
            border-radius: 30px;
            border: none;
            outline: none;
            color: black;
        }

        .search::placeholder {
            color: rgb(100, 100, 100);
            font-size: 13px;
        }

        .scroll {
            padding: 2px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .pinned {
                padding: 0px 35px;

                .top {
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .text {
                        font-weight: 500;
                        font-size: 15px;
                    }

                    button {
                        font-size: 13px;
                        border: none;
                        border-radius: 5px;
                        padding: 3px 5px 5px 10px;
                        background-color: rgba(99, 99, 99, 0.353);
                        // backdrop-filter: blur(10px);

                        i {
                            font-weight: 100;
                            margin-left: 5px;
                        }
                    }

                    button:hover {
                        background-color: rgba(123, 123, 123, 0.353);
                    }
                }

                .bot {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;


                    .icon {
                        padding: 12px 12px;
                        border-radius: 5px;
                        transition: all 0.2s linear;

                        img {
                            margin-left: 15px;
                            width: 40px;
                        }

                        p {
                            width: 70px;
                            text-align: center;
                            color: white;
                            // text-shadow: 1px 1px 3px black;
                            // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .icon:hover {
                        background-color: rgba(152, 152, 152, 0.156);
                    }
                }
            }

            .recommended {
                padding: 0px 35px;

                .top {
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .text {
                        font-weight: 500;
                        font-size: 15px;
                    }

                    button {
                        font-size: 13px;
                        border: none;
                        border-radius: 5px;
                        padding: 3px 5px 5px 10px;
                        background-color: rgba(99, 99, 99, 0.353);
                        // backdrop-filter: blur(10px);

                        i {
                            font-weight: 100;
                            margin-left: 5px;
                        }
                    }

                    button:hover {
                        background-color: rgba(123, 123, 123, 0.353);
                    }
                }

                .bot {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 5px;


                    .icon {
                        width: 48%;
                        padding: 12px 12px;
                        border-radius: 5px;
                        transition: all 0.2s linear;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            margin-left: 15px;
                            width: 40px;
                        }

                        .texts {
                            margin-left: 10px;
                            color: white;
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            .txt2 {
                                color: rgb(195, 195, 195);

                                i {
                                    color: rgb(195, 195, 195);
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .icon:hover {
                        background-color: rgba(152, 152, 152, 0.156);
                    }
                }
            }
        }

        .scroll::-webkit-scrollbar {
            width: 3px;
        }

        .scroll::-webkit-scrollbar-track {
            // background: transparent;
        }

        .scroll::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.619);
            border-radius: 10px;
        }

        .foot {
            padding: 12px 60px;
            background-color: rgb(34, 34, 34);
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                padding: 5px 12px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                transition: 0.2s all;

                img {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                p {
                    font-size: 13px;
                }
            }

            .user:hover {
                background-color: rgba(152, 152, 152, 0.156);
            }

            .power {
                padding: 8px 11px;
                border-radius: 5px;
                transition: 0.2s all;
                position: relative;

                .slideUpMenu {
                    width: 135px;
                    background-color: rgba(33, 33, 33, 0.822);
                    background-color: rgb(37, 37, 37);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
                    padding: 8px 8px;
                    border-radius: 5px;
                    position: absolute;
                    // top: -80px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    top: -75px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.2s all linear;

                    div {
                        width: 100%;
                        padding: 8px 0px 8px 12px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        transition: 0.1s all;

                        p {
                            font-size: 14px;
                        }
                    }

                    div:hover {
                        background-color: rgba(152, 152, 152, 0.156);
                    }
                }
            }

            .power:hover {
                background-color: rgba(152, 152, 152, 0.156);
            }

            // .power:hover .slideUpMenu {
            //     top: -90px;
            //     visibility: visible;
            //     opacity: 1;
            // }
        }
    }

}

