* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.line {
  background-color: rgb(216, 216, 216);
  height: 0.1px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1499678329028-101435549a4e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}
main .desktop {
  position: relative;
  height: 93%;
  padding: 5px 20px 5px 10px;
}
main .desktop .icons {
  height: 100%;
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}
main .desktop .icons .icon {
  width: 80px;
  padding: 2px;
  border-radius: 2px;
  transition: 0.3s all ease;
}
main .desktop .icons .icon img {
  margin-left: 15px;
  width: 50px;
}
main .desktop .icons .icon p {
  width: 80px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .desktop .icons .icon:hover {
  background-color: rgba(255, 255, 255, 0.115);
}
main .desktop .rightClickMenu {
  width: 235px;
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.881);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
main .desktop .rightClickMenu .options {
  padding: 5px 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: default;
}
main .desktop .rightClickMenu .options .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.1s all ease 0.02s;
  position: relative;
}
main .desktop .rightClickMenu .options .option .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .desktop .rightClickMenu .options .option .left img {
  width: 18px;
}
main .desktop .rightClickMenu .options .option .left p {
  font-size: 13px;
  color: black;
}
main .desktop .rightClickMenu .options .option .right i {
  color: rgba(81, 81, 81, 0.595);
}
main .desktop .rightClickMenu .options .option .right p {
  color: rgb(81, 81, 81);
  font-size: 12px;
}
main .desktop .rightClickMenu .options .option:hover {
  background-color: rgba(177, 177, 177, 0.226);
}
main .desktop .rightClickMenu .options .menuu {
  position: absolute;
  top: 0;
  right: -105%;
  background-color: rgba(255, 255, 255, 0.881);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.545);
}
main .desktop .rightClickMenu .options .menuu .items {
  padding: 5px 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: default;
}
main .desktop .rightClickMenu .options .menuu .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.1s all ease 0.02s;
  position: relative;
}
main .desktop .rightClickMenu .options .menuu .items .item:hover {
  background-color: rgba(177, 177, 177, 0.226);
}
main .desktop .rightClickMenu .options .option.view .viewMenu {
  right: -106%;
  width: 235px;
}
main .desktop .rightClickMenu .options .option.sortBy .sortByMenu {
  right: -50%;
}
main .desktop .rightClickMenu .options .option.new .newMenu {
  right: -112%;
}
main .taskbar {
  height: 7%;
  padding: 0px 14px 0px 14px;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .taskbar .left {
  width: 143px;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  transition: all 0.3s ease;
}
main .taskbar .left .weatherIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, rgb(255, 210, 49), rgb(255, 68, 0));
}
main .taskbar .left .weather {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main .taskbar .left .weather p:nth-child(1) {
  color: white;
  font-size: 13px;
}
main .taskbar .left .weather p:nth-child(2) {
  color: rgb(188, 188, 188);
  font-size: 13px;
}
main .taskbar .left:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .taskbar .mid .icon {
  position: relative;
  padding: 5px 5px 2px 5px;
  border-radius: 3px;
  transition: 0.2s all ease;
}
main .taskbar .mid .icon img {
  width: 30px;
}
main .taskbar .mid .icon span {
  max-width: 200px;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 13px;
  background: rgba(33, 33, 33, 0.552);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.7s;
}
main .taskbar .mid .icon:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .mid .icon:hover span {
  visibility: visible;
  opacity: 1;
}
main .taskbar .mid .searchBar input {
  background-image: url("./images/icons8-search-96.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 6px 35px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: black;
}
main .taskbar .mid .searchBar input::-moz-placeholder {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
main .taskbar .mid .searchBar input::placeholder {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
main .taskbar .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
main .taskbar .right .hoverTxt {
  max-width: 500px;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 13px;
  background: rgba(33, 33, 33, 0.552);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-60%);
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.7s;
}
main .taskbar .right .slideUpMenu {
  padding: 10px 7px 10px 7px;
  border-radius: 3px;
  transition: 0.2s all ease;
  position: relative;
}
main .taskbar .right .slideUpMenu i {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
main .taskbar .right .slideUpMenu:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .right .slideUpMenu:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .icon {
  position: relative;
  padding: 11px 7px 11px 7px;
  border-radius: 3px;
  transition: 0.2s all ease;
}
main .taskbar .right .icon img {
  width: 18px;
}
main .taskbar .right .icon:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .right .icon:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .language {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 10px 4px 10px;
  border-radius: 3px;
  transition: 0.2s all ease;
}
main .taskbar .right .language span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: white;
}
main .taskbar .right .language .hoverTxt {
  top: -240%;
  transform: translateX(-50%);
}
main .taskbar .right .language .hoverTxt .short2 {
  margin-bottom: 20px;
}
main .taskbar .right .language:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .right .language:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 3px;
  transition: 0.2s all ease;
}
main .taskbar .right .icons .icon {
  padding: 8px 2px 8px 2px;
  position: relative;
}
main .taskbar .right .icons .icon .hoverTxt {
  top: -155%;
  transform: translateX(-50%);
}
main .taskbar .right .icons .icon:nth-child(2) .hoverTxt,
main .taskbar .right .icons :nth-child(3) .hoverTxt {
  top: -110%;
  transform: translateX(-50%);
}
main .taskbar .right .icons .icon:hover {
  background-color: rgba(199, 199, 199, 0);
}
main .taskbar .right .icons .icon:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .icons:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .taskbar .right .corner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 3px;
  transition: 0.2s all ease;
}
main .taskbar .right .corner .dateTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
main .taskbar .right .corner .dateTime span {
  color: white;
  font-size: 13px;
}
main .taskbar .right .corner .dateTime .hoverTxt {
  top: -155%;
  transform: translateX(-60%);
}
main .taskbar .right .corner .icon {
  padding: 8px 2px 8px 2px;
}
main .taskbar .right .corner .icon .hoverTxt {
  top: -110%;
  transform: translateX(-90%);
}
main .taskbar .right .corner .icon:hover {
  background-color: rgba(199, 199, 199, 0);
}
main .taskbar .right .corner .dateTime:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .corner .icon:hover .hoverTxt {
  visibility: visible;
  opacity: 1;
}
main .taskbar .right .corner:hover {
  background-color: rgba(199, 199, 199, 0.112);
}
main .windows {
  padding: 40px 34px 70px 34px;
  height: 91%;
  width: 40%;
  background-color: rgba(33, 33, 33, 0.822);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  visibility: hidden;
  opacity: 0;
  top: 53%;
  transition: 0.2s all linear;
}
main .windows .search {
  background-image: url("./images/icons8-search-96.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 6px 35px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: black;
}
main .windows .search::-moz-placeholder {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
main .windows .search::placeholder {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
main .windows .scroll {
  padding: 2px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .windows .scroll .pinned {
  padding: 0px 35px;
}
main .windows .scroll .pinned .top {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .windows .scroll .pinned .top .text {
  font-weight: 500;
  font-size: 15px;
}
main .windows .scroll .pinned .top button {
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px 5px 10px;
  background-color: rgba(99, 99, 99, 0.353);
}
main .windows .scroll .pinned .top button i {
  font-weight: 100;
  margin-left: 5px;
}
main .windows .scroll .pinned .top button:hover {
  background-color: rgba(123, 123, 123, 0.353);
}
main .windows .scroll .pinned .bot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .windows .scroll .pinned .bot .icon {
  padding: 12px 12px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
main .windows .scroll .pinned .bot .icon img {
  margin-left: 15px;
  width: 40px;
}
main .windows .scroll .pinned .bot .icon p {
  width: 70px;
  text-align: center;
  color: white;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .windows .scroll .pinned .bot .icon:hover {
  background-color: rgba(152, 152, 152, 0.156);
}
main .windows .scroll .recommended {
  padding: 0px 35px;
}
main .windows .scroll .recommended .top {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .windows .scroll .recommended .top .text {
  font-weight: 500;
  font-size: 15px;
}
main .windows .scroll .recommended .top button {
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px 5px 10px;
  background-color: rgba(99, 99, 99, 0.353);
}
main .windows .scroll .recommended .top button i {
  font-weight: 100;
  margin-left: 5px;
}
main .windows .scroll .recommended .top button:hover {
  background-color: rgba(123, 123, 123, 0.353);
}
main .windows .scroll .recommended .bot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}
main .windows .scroll .recommended .bot .icon {
  width: 48%;
  padding: 12px 12px;
  border-radius: 5px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .windows .scroll .recommended .bot .icon img {
  margin-left: 15px;
  width: 40px;
}
main .windows .scroll .recommended .bot .icon .texts {
  margin-left: 10px;
  color: white;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .windows .scroll .recommended .bot .icon .texts .txt2 {
  color: rgb(195, 195, 195);
}
main .windows .scroll .recommended .bot .icon .texts .txt2 i {
  color: rgb(195, 195, 195);
  margin-right: 3px;
}
main .windows .scroll .recommended .bot .icon:hover {
  background-color: rgba(152, 152, 152, 0.156);
}
main .windows .scroll::-webkit-scrollbar {
  width: 3px;
}
main .windows .scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.619);
  border-radius: 10px;
}
main .windows .foot {
  padding: 12px 60px;
  background-color: rgb(34, 34, 34);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .windows .foot .user {
  padding: 5px 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s all;
}
main .windows .foot .user img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .windows .foot .user p {
  font-size: 13px;
}
main .windows .foot .user:hover {
  background-color: rgba(152, 152, 152, 0.156);
}
main .windows .foot .power {
  padding: 8px 11px;
  border-radius: 5px;
  transition: 0.2s all;
  position: relative;
}
main .windows .foot .power .slideUpMenu {
  width: 135px;
  background-color: rgba(33, 33, 33, 0.822);
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
  padding: 8px 8px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: -75px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all linear;
}
main .windows .foot .power .slideUpMenu div {
  width: 100%;
  padding: 8px 0px 8px 12px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: 0.1s all;
}
main .windows .foot .power .slideUpMenu div p {
  font-size: 14px;
}
main .windows .foot .power .slideUpMenu div:hover {
  background-color: rgba(152, 152, 152, 0.156);
}
main .windows .foot .power:hover {
  background-color: rgba(152, 152, 152, 0.156);
}/*# sourceMappingURL=style.css.map */