* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    // background-color: black;
}

main {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1499678329028-101435549a4e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;

    .desktop {
        height: 93%;
        // background-color: rgba(127, 255, 212, 0.271);
        padding: 5px 20px 5px 10px;

        .icons {
            height: 100%;
            width: 14rem;
            // background-color: rgba(255, 0, 0, 0.621);
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex-wrap: wrap;

            .icon {
                // background-color: white;
                width: 80px;
                padding: 2px;
                border-radius: 2px;
                transition: 0.3s all ease;

                img {
                    margin-left: 15px;
                    width: 50px;
                }

                p {
                    // background-color: black;
                    width: 80px;
                    text-align: center;
                    color: white;
                    text-shadow: 1px 1px 3px black;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // -webkit-text-stroke: 0.2px black;
                }
            }

            .icon:hover {
                background-color: rgba(255, 255, 255, 0.115);
            }
        }

    }

    .taskbar {
        height: 7%;
        padding: 0px 14px 0px 14px;

        background-color: rgb(29, 29, 29);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 143px;
            padding: 4px 10px 4px 10px;
            border-radius: 5px;
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
            transition: all 0.3s ease;

            .weatherIcon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: linear-gradient(to bottom right, rgb(255, 210, 49), rgb(255, 68, 0));
            }

            .weather {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                p:nth-child(1) {
                    color: white;
                    font-size: 13px;
                }

                p:nth-child(2) {
                    color: rgb(188, 188, 188);
                    font-size: 13px;
                }
            }
        }

        .left:hover {
            background-color: rgba(199, 199, 199, 0.112);
        }

        .mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .icon {
                position: relative;
                padding: 5px 5px 2px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                img {
                    width: 30px;
                }

                span {
                    max-width: 200px;
                    white-space: nowrap;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: white;
                    font-size: 13px;

                    background: rgba(33, 33, 33, 0.552);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);

                    position: absolute;
                    top: -100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 5px 10px 8px 10px;
                    border-radius: 5px;

                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s ease 0.7s;
                    //here i put a delay of 0.7s which means when we hover the animation of span appearing will begin after 0.7s on hover.
                }
            }

            .icon:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .icon:hover span {
                visibility: visible;
                opacity: 1;
            }

            .searchBar {
                input {
                    background-image: url("/icons8-search-96.png");
                    background-size: 18px;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding: 6px 35px;
                    border-radius: 30px;
                }

                input::placeholder {
                    color: rgb(100, 100, 100);
                    font-size: 13px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0px;

            .hoverTxt {
                max-width: 500px;
                white-space: nowrap;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: white;
                font-size: 13px;

                background: rgba(33, 33, 33, 0.552);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                position: absolute;
                top: -100%;
                left: 50%;
                transform: translateX(-60%);

                padding: 5px 10px 8px 10px;
                border-radius: 5px;

                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease 0.7s;
            }



            .slideUpMenu {
                padding: 10px 7px 10px 7px;
                border-radius: 3px;
                transition: 0.2s all ease;
                position: relative;

                i {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }

            }

            .slideUpMenu:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .slideUpMenu:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .icon {
                position: relative;
                padding: 11px 7px 11px 7px;
                border-radius: 3px;
                transition: 0.2s all ease;

                img {
                    width: 18px;
                }
            }

            .icon:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .icon:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .language {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 4px 10px 4px 10px;
                border-radius: 3px;
                transition: 0.2s all ease;

                span {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 12px;
                    color: white;
                }

                .hoverTxt {
                    top: -240%;
                    transform: translateX(-50%);

                    .short2 {
                        margin-bottom: 20px;
                    }
                }
            }

            .language:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

            .language:hover .hoverTxt {
                visibility: visible;
                opacity: 1;
            }



            .icons {
                // position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 0px 5px 0px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                .icon {
                    padding: 8px 2px 8px 2px;
                    position: relative;

                    .hoverTxt {
                        top: -155%;
                        transform: translateX(-50%);
                    }
                }

                .icon:nth-child(2),
                :nth-child(3) {
                    .hoverTxt {
                        top: -110%;
                        transform: translateX(-50%);
                    }
                }

                .icon:hover {
                    background-color: rgba(199, 199, 199, 0);
                }

                .icon:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .icons:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }



            .corner {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 0px 5px 0px 5px;
                border-radius: 3px;
                transition: 0.2s all ease;

                .dateTime {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;

                    span {
                        color: white;
                        font-size: 13px;
                    }

                    .hoverTxt {
                        top: -155%;
                        transform: translateX(-60%);
                    }
                }

                .icon {
                    padding: 8px 2px 8px 2px;
                    .hoverTxt {
                        top: -110%;
                        transform: translateX(-90%);
                    }
                }
                .icon:hover {
                    background-color: rgba(199, 199, 199, 0);
                }

                .dateTime:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }
                .icon:hover .hoverTxt {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .corner:hover {
                background-color: rgba(199, 199, 199, 0.112);
            }

        }
    }
}